@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-SemiBold.woff2") format("woff2"),
      url("/fonts/subset-Poppins-SemiBold.woff") format("woff"),
      url("/fonts/subset-Poppins-SemiBold.ttf") format("truetype");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Bold.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Bold.woff") format("woff"),
      url("/fonts/subset-Poppins-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-BoldItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-BoldItalic.woff") format("woff"),
      url("/fonts/subset-Poppins-BoldItalic.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Light.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Light.woff") format("woff"),
      url("/fonts/subset-Poppins-Light.ttf") format("truetype");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Regular.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Regular.woff") format("woff"),
      url("/fonts/subset-Poppins-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-SemiBoldItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-SemiBoldItalic.woff") format("woff"),
      url("/fonts/subset-Poppins-SemiBoldItalic.ttf") format("truetype");
   font-weight: 600;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-MediumItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-MediumItalic.woff") format("woff"),
      url("/fonts/subset-Poppins-MediumItalic.ttf") format("truetype");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Italic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Italic.woff") format("woff"),
      url("/fonts/subset-Poppins-Italic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Medium.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Medium.woff") format("woff"),
      url("/fonts/subset-Poppins-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-LightItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-LightItalic.woff") format("woff"),
      url("/fonts/subset-Poppins-LightItalic.ttf") format("truetype");
   font-weight: 300;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Permanent Marker";
   src: url("/fonts/subset-PermanentMarker-Regular.woff2") format("woff2"),
      url("/fonts/subset-PermanentMarker-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

html {
   font-size: 14px;
   scroll-behavior: smooth;
   font-family: Poppins, sans-serif;
}

body {
   font-size: 0.875rem;
   line-height: 1.43;
}

.pdfContent {
   width: 100%;
}

.hidden {
   display: none;
}

#localVideo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#localVideo video {
   position: absolute;
   top: 0;
   left: 0;
   max-width: 100%;
   max-height: 100%;
}

.videoContainer video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-height: 100%;
   max-width: 100%;
   z-index: 1;
}

a {
   text-decoration: none;
}
