@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Bold.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Bold.woff") format("woff"),
      url("/fonts/subset-Poppins-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-BoldItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-BoldItalic.woff") format("woff"),
      url("/fonts/subset-Poppins-BoldItalic.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Regular.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Regular.woff") format("woff"),
      url("/fonts/subset-Poppins-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Italic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Italic.woff") format("woff"),
      url("/fonts/subset-Poppins-Italic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Medium.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Medium.woff") format("woff"),
      url("/fonts/subset-Poppins-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-MediumItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-MediumItalic.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Permanent Marker";
   src: url("/fonts/subset-PermanentMarker-Regular.woff2") format("woff2"),
      url("/fonts/subset-PermanentMarker-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

html {
   font-size: 14px;
   scroll-behavior: smooth;
   font-family: Poppins, sans-serif;
}

body {
   font-size: 0.875rem;
   line-height: 1.43;
}

.pdfContent {
   width: 100%;
}

.hidden {
   display: none;
}

#localVideo {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

#localVideo video {
   position: absolute;
   top: 0;
   left: 0;
   max-width: 100%;
   max-height: 100%;
}

.videoContainer video {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   max-height: 100%;
   max-width: 100%;
   z-index: 1;
}

a {
   text-decoration: none;
}

.ql-snow.ql-toolbar {
   border: none !important;
   border-bottom: 1px solid #ccc !important;
   margin-bottom: 1rem;
}

.ql-container.ql-snow {
   border: none !important;
}

.ql-container {
   font-family: inherit !important;
   font-size: inherit !important;
   min-height: 8em;
}

.ql-editor {
   font-size: inherit;
   font-family: inherit;
   min-height: inherit;
   padding: 0 !important;
}

.ql-editor.ql-blank::before {
   font-style: normal !important;
   left: 0 !important;
}
