dist/
node_modules/

emulatorData/
firebase-export-*/

.firebase/

.turbo/

.vercel/
.idea/
.next/

*.log

.packages/

test-results/
playwright-report/

.DS_Store!/packages/firebase-scripts/keys/production_credentials.json
