dist/
node_modules/

emulatorData/
emulatorDataBackup/
firebase-export-*/

.firebase/

.turbo/

.vercel/
.idea/
.next/

*.log

.packages/

test-results/
playwright-report/

.DS_Store
!/packages/fetch-firestore-data/.env
packages/functions/.env.local
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
