dist/
node_modules/

emulatorData/
firebase-export-*/

.firebase/

.turbo/

.vercel/
.idea/
.next/

*.log

.packages/

test-results/
playwright-report/

.DS_Store
!/packages/fetch-firestore-data/.env

.vscode/
