#  Template NodeJS build

#  This template allows you to validate your NodeJS code.
#  The workflow allows running tests and code linting on the default branch.

#image: node:10.15.3
#
#pipelines:
#  default:
#    - step:
#        name: Build and Test App
#        caches:
#          - node
#        script:
#          - npm run full-install
#          - npm run test-app
#    - step:
#        name: Build and Test Firebase
#        caches:
#          - node
#        script:
#          - npm install -g firebase-tools
#          - firebase emulators:exec 'npm run test-firebase'
#    - step:
#        name: Code linting
#        script:
#          - npm install eslint
#          - npx eslint .
#        caches:
#          - node
#  branches:
#    develop:
#      - step:
#          name: Build and Test App
#          caches:
#            - node
#          script:
#            - npm run full-install
#            - npm run test-app
#      - step:
#          name: Build and Test Firebase
#          caches:
#            - node
#          script:
#            - npm install -g firebase-tools
#            - firebase emulators:exec 'npm run test-firebase'
#      - step:
#          name: Code linting
#          script:
#            - npm install eslint
#            - npx eslint .
#          caches:
#            - node
#      - step:
#          name: Build and deploy App
#          deployment: TARGET_ENV
#          caches:
#            - node
#          trigger: manual
#          script:
#            - npm run build
#            - firebase deploy
#              --only functions
#              --non-interactive
#              --non-interactive
#              --token=$FIREBASE_TOKEN
