rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        function isCFAdmin() {
            return get(/databases/$(database)/documents/userData/$(request.auth.token.email)).data.isAdmin == true;
        }

        function isAdminOfGroup(groupId) {
            return groupId in request.auth.token.adminGroups.keys() || isCFAdmin();
        }

        function isUnchanged(field) {
            return request.resource.data[field] == resource.data[field];
        }

        function allowIncrementField(field) {
            return request.resource.data.keys() == [field]
                   && (resource == null || request.resource.data[field] ==
                                           resource.data[field] + 1);
        }

        function isSignedIn() {
            return request.auth != null;
        }

        function isSignedInAndIsSameUser(userEmail) {
            return isSignedIn() && request.auth.token.email == userEmail;
        }

        function isAnyGroupAdmin() {
            return request.auth.token.adminGroups.keys().size() > 0 || isCFAdmin();
        }

        function protectedFieldsDidNotChange(fields) {
            return !request.resource.data.diff(resource.data).affectedKeys().hasAny(fields)
        }


        //        function isLivestreamAdmin(livestreamId) {
        //            return isSignedIn() && request.auth.token.adminGroups != null && request.auth.token.adminGroups.keys().hasAny(get(/databases/$(database)/documents/livestreams/$(livestreamId)).data.groupIds);
        //        }

        match /fieldsOfStudy/{fieldOfStudy} {
            allow read: if true;
            allow write: if isCFAdmin();
        }

        match /levelsOfStudy/{levelOfStudy} {
            allow read: if true;
            allow write: if isCFAdmin();
        }

        match /userInterface/{interface} {
            allow read: if true;
            allow write: if isCFAdmin();
        }

        match /highlights/{highlight} {
            allow read: if true;
            allow write: if isCFAdmin();
        }

        match /interests/{interest} {
            allow read: if true;
            allow write: if isCFAdmin();
        }

        match /IcBoostDayUsers/{user} {
            match /{document=**} {
                allow read, write: if false;
            }
        }

        // allow group admins to fetch cached docs
        // stale while revalidate method
        match /cache/functions/analytics/{hash} {
            allow read: if isAnyGroupAdmin();
        }

        match /analytics/userData {
            allow read: if true;
            allow write: if false;
        }

        match /userData/{userId} {

            match /sparksFeed/{sparkId} {
                allow read: if isSignedInAndIsSameUser(userId) || isCFAdmin();
            }

            match /companiesUserFollows/{groupId} {
                allow read, write: if isSignedInAndIsSameUser(userId) || isCFAdmin();
            }

            match /userGroups/{userGroup} {
                allow read, write: if isSignedInAndIsSameUser(userId) || isCFAdmin();
            }

            match /talentProfiles/{userGroup} {
                allow read, write: if isSignedInAndIsSameUser(userId) || isCFAdmin();
            }

            match /userAdminGroups/{userAdminGroup} {
                allow read, write: if isSignedInAndIsSameUser(userId) || isCFAdmin();
            }

            match /analytics/analytics {
                allow read, write: if isSignedInAndIsSameUser(userId);
            }

            match /atsRelations/atsRelations {
                allow read: if isSignedInAndIsSameUser(userId);
                allow write: if false;
            }

            match /jobApplications/{jobIdentifier} {
                allow read: if isSignedInAndIsSameUser(userId);
                allow write: if false;
            }

            match /activities/{id} {
                allow read, write: if isSignedInAndIsSameUser(userId);
            }

            match /rewards/{rewardId} {
                allow read: if isSignedInAndIsSameUser(userId);
                allow update: if isSignedInAndIsSameUser(userId);
                allow create: if false; // Only the admin sdk creates rewards
                allow delete: if false;
            }

            match /savedRecruiters/{recruiterId} {
                allow read, write: if isSignedInAndIsSameUser(userId);
            }

            match /sparksNotifications/{sparkNotificationsId} {
                allow read: if true;
                allow write: if isSignedInAndIsSameUser(userId);
            }

            match /stats/stats {
                allow read: if true; // not ideal, but we need to allow SSR to read this in the mean time
                allow write: if isSignedInAndIsSameUser(userId);
            }

            match /userReminders/{reminderIdentifier} {
                allow read, write: if isSignedInAndIsSameUser(userId) || isCFAdmin();
            }

            allow read: if true;
            allow update: if isSignedInAndIsSameUser(userId) && protectedFieldsDidNotChange(["credits", "isAdmin", "userEmail"]);
            allow create: if false; // only admin sdk can create users
            allow delete: if false;
        }

        match /universitiesByCountry/{countryId} {
            allow read: if true;
            allow write: if false;
        }

        // https://linear.app/careerfairy/issue/CF-88/fix-notifications-for-livestream-drafts-anyone-can-create
        match /notifications/{notification} {
            allow read: if true;
            allow update: if true;
            allow create: if true;
            allow delete: if true;
        }

        match /companyData/{company} {
            allow read: if true;
            allow write: if false;

            match /currentPositions/{position} {
                allow read: if true;
                allow write: if false;
            }
            match /admins/{admin} {
                allow read: if true;
                allow write: if false;
            }
            match /usersInPolicy/{user} {
                allow read: if true;
                allow write: if request.auth != null;
            }
        }

        match /careerCenterData/{careerCenter} {
            allow read: if true;
            allow write: if isCareerCenterAdmin() || isCFAdmin();

            //            function careerCenterData() {
            //                return get(/databases/$(database)/documents/careerCenterData/$(careerCenter)).data;
            //            }

            function isCareerCenterAdmin() {
                return careerCenter in request.auth.token.adminGroups.keys();
            }

            match /creators/{creatorEmail} {
                allow read: if true;
                allow write: if isCareerCenterAdmin() || isCFAdmin();
            }

            match /ats/{integrationId} {
                allow read, write: if isSignedIn() && (isCareerCenterAdmin() || isCFAdmin());
            }

            match /groupQuestions/{groupQuestion} {
                function isCustomQuestionType() {
                    return resource.data.questionType == 'custom';
                }

                function hasOptions() {
                    return request.resource.data.options != null && request.resource.data.options.keys().size() > 0;
                }
                allow read: if isCFAdmin() || isCareerCenterAdmin();
                allow delete: if isCustomQuestionType();
                allow create: if isCFAdmin() || isCareerCenterAdmin();
                allow update: if isUnchanged('questionType') && hasOptions();
            }

            match /groupAdmins/{admin} {
                allow read, write: if isCFAdmin() || isCareerCenterAdmin();
            }

            match /usersInPolicy/{user} {
                allow read: if true;
                allow write: if isSignedIn();
            }

            match /companyPageViews/{visitorId} {
                allow read; allow create;
            }

            match /stats/{groupStats} {
                function allowIncrementGeneralStatsField(statKey) {
                    return resource == null && request.resource.data["generalStats"][statKey] == 1 // If the resource is null, then this is a new document, so the stat should be 1
                           || request.resource.data["generalStats"][statKey] == resource.data["generalStats"][statKey] + 1; // If the resource is not null, then the stat should be 1 more than the previous value
                }

                allow read: if isCareerCenterAdmin() || isCFAdmin();

                // Allow to increment only the 'generalStats' by 1.
                match /_counter_shards_/{shardId} {
                    allow write: if allowIncrementGeneralStatsField("numberOfPeopleReachedCompanyPage");
                }

            }
        }

        match /sparks/{sparkId} {
            allow read: if true;
            allow write: if false;
        }

        match /videos/{video} {
            allow read: if true;
            allow write: if false;
            match /{document=**} {
                allow read: if true;
                allow write: if false;
            }
        }

        match /mentors/{mentor} {
            allow read: if true;
            allow write: if false;
        }

        match /livestreams/{livestream} {
            function userIsGroupAdmin() {
                // we need to fetch the document, its only present in request.resource for create/update operations
                let doc = get(/databases/$(database)/documents/livestreams/$(livestream)).data;
                return request.auth.token.adminGroups != null && request.auth.token.adminGroups.keys().hasAny(doc.groupIds);
            }

            // signed in users can update certain fields
            //            function publicFieldsUsersCanUpdate() {
            //                let allowedFields = ['participatingStudents', 'registeredUsers', 'talentPool', 'screenSharerId'];
            //                let diff = request.resource.data.diff(resource.data);
            //                return isSignedIn() && diff.affectedKeys().hasAny(allowedFields);
            //            }

            // Currently anonymous users can create test livestreams and update them as if they were
            // admins, we should move this test livestreams to a different collection with more relaxed rules
            allow read, create, update: if true;
            allow delete: if userIsGroupAdmin() || isCFAdmin();
            // allow update: if publicFieldsUsersCanUpdate() || userIsGroupAdmin(request.resource.data.groupIds) || isCFAdmin();

            // Allow to increment only the 'impressions' or 'recommendedImpressions' field and only by 1.
            match /_counter_shards_/{shardId} {

                allow get;
                allow write: if allowIncrementField('impressions') || allowIncrementField('recommendedImpressions');
            }

            match /impressions/{impressionId} {
                allow create;
            }

            match /preferences/{adminPreference} {
                allow read: if true;
                allow write: if isCFAdmin();
            }

            match /breakoutRoomsSettings/{breakoutRoomsSetting} {
                allow read, write: if true;
            }

            match /tokens/{secureToken} {
                allow read, write: if true;
            }

            match /participatingStats/{userId} {
                allow read: if isCFAdmin();
                allow write: if isSignedInAndIsSameUser(userId);
            }

            match /recordingToken/{token} {
                allow read: if true;
                allow write: if false; // created by admin sdk
            }

            match /detailPageViews/{visitorId} {
                allow read; allow create;
            }

            match /popularityEvents/{eventId} {
                allow read: if true;
                // only allow creations to save costs
                // this way we don't need to read before write
                allow create: if true;
                allow write: if false;
                allow delete: if true;
            }

            match /stats/{livestreamStats} {
                function allowIncrementGeneralStatsField(statKey) {
                    return resource == null && request.resource.data["generalStats"][statKey] == 1 // If the resource is null, then this is a new document, so the stat should be 1
                           || request.resource.data["generalStats"][statKey] == resource.data["generalStats"][statKey] + 1; // If the resource is not null, then the stat should be 1 more than the previous value
                }

                // when rating a livestream, we also update the livestream stats average rating on the client side
                // since the field is a map stats.ratings[id].average, we can't whitelist the update to wildcard
                // maps values yet :/
                allow update: if isSignedIn();
                allow read: if true;

                // Allow to increment only the 'generalStats' or 'universityStats' field and only by 1.
                match /_counter_shards_/{shardId} {
                    allow write: if allowIncrementGeneralStatsField("numberOfPeopleReached");
                }

            }

            match /icons/{icon} {
                allow read: if true;
                allow write: if true;
            }

            match /speakers/{speaker} {
                allow read, write: if true;
            }

            match /presentations/{presentation} {
                allow read, write: if true;
            }

            match /videos/{video} {
                allow read, write: if true;
            }

            match /chatEntries/{chatEntry} {
                allow read: if true;
                allow write: if true;
            }

            match /handRaises/{handRaise} {
                allow read: if true;
                allow write: if true;
            }

            match /polls/{poll} {
                allow read, write: if true;

                match /options/{option} {
                    allow read, write: if true;
                }
            }

            match /polls/{poll}/voters/{voter} {
                allow read: if true;
                allow write: if true;
            }

            match /questions/{question} {
                allow read, write: if true;

                match /comments/{comment} {
                    allow read: if true;
                    allow write: if true;
                }
            }

            match /rating/{rating}/voters/{voter} {
                allow read: if true;
                allow write: if true;
            }

            match /rating/{rating}/nonVoters/{nonVoter} {
                allow read: if true;
                allow write: if true;
            }

            match /rating/{ratingDoc} {
                allow read: if true;
                allow write: if true;
            }

            match /callToActions/{callToAction} {
                allow read: if true;
                allow write: if true;

                match /usersWhoClickedLink/{userWhoClickedLink} {
                    allow read: if true;
                    allow write: if true;
                }

                match /usersWhoDismissed/{userWhoDismissed} {
                    allow read: if true;
                    allow write: if true;
                }

            }
            match /promotions/promotions {
                allow read: if request.auth != null;
                allow write: if request.auth != null;
            }
            match /recordingStats/stats {
              allow read: if request.auth != null;
              allow write: if true;
            }

            match /recordingStatsUser/{id} {
              allow read: if false;
              allow write: if isSignedIn() && request.resource.data.userId == request.auth.token.email;
            }

        }

        match /livestreams/{livestream}/breakoutRooms/{breakoutRoom} {
            allow read, write: if true;

            match /userLivestreamData/{studentEmail} {
                allow read: if true;
                allow write: if isSignedInAndIsSameUser(studentEmail);
            }

            match /chatEntries/{chatEntry} {
                allow read: if true;
                allow write: if true;
            }

            match /handRaises/{handRaise} {
                allow read: if true;
                allow write: if true;
            }

            match /polls/{poll} {
                allow read, write: if true;

                match /options/{option} {
                    allow read, write: if true;
                }
            }

            match /polls/{poll}/voters/{voter} {
                allow read: if true;
                allow write: if true;
            }

            match /callToActions/{callToAction} {
                allow read, write: if true;

                match /usersWhoClickedLink/{userWhoClickedLink} {
                    allow read: if true;
                    allow write: if true;
                }

                match /usersWhoDismissed/{userWhoDismissed} {
                    allow read: if true;
                    allow write: if true;
                }

            }

            match /questions/{question} {
                allow read, write: if true;

                match /comments/{comment} {
                    allow read: if true;
                    allow write: if true;
                }
            }

            match /rating/{rating}/voters/{voter} {
                allow read: if true;
                allow write: if true;
            }

            match /rating/{rating}/nonVoters/{nonVoter} {
                allow read: if true;
                allow write: if true;
            }

            match /rating/{ratingDoc} {
                allow read: if true;
                allow write: if true;
            }

            match /tokens/{secureToken} {
                allow read, write: if true;
            }
        }

        match /draftLivestreams/{draftLivestream} {
            // we can't do much here, drafts can be edited anonymously
            // and groupIds might not exist so we don't know who is the owner
            // we need to move these to a sub collection under the group document
            allow read: if true;
            allow create: if true;
            allow update: if true;
            allow delete: if true;

            match /speakers/{speaker} {
                allow read: if true;
                allow write: if true;
            }
            match /rating/{ratingDoc} {
                allow read: if true;
                allow write: if true;
            }
            match /tokens/{secureToken} {
                allow read: if true;
                allow write: if true;
            }
            match /promotions/promotions {
                allow read: if true;
                allow write: if true;
            }
        }

        match /wishes/{slug} {
            allow read: if true;
            allow create: if isSignedIn();
            allow delete, update: if request.resource.data.authorUid == request.auth.uid || isCFAdmin();

            match /flags/{uid} {
                allow read, write: if isSignedIn();
            }

            match /ratings/{uid} {
                allow read, write: if request.auth.uid == uid || isCFAdmin();
            }
        }
        match /timelineUniversities/{timelineUniversity}{
            allow read: if true;
            allow write: if isCFAdmin();
            
            match /periods/{period}{
                allow read: if true;
                allow write: if isCFAdmin();
            }
        }
        match /timelineCountries/{timelineCountry}{
            allow read: if true;
            allow write: if isCFAdmin();
        }
        match /{somePath=**}/periods/{period} {
            allow read: if true;
            allow write: if isCFAdmin();
        }
        match /{somePath=**}/userLivestreamData/{userEmail} {
            allow read: if true;
            allow write: if isSignedInAndIsSameUser(userEmail);
        }

        match /{somePath=**}/stats/{livestreamStats} {
            allow list: if isAnyGroupAdmin(); // we can't check the resource.data.livestream.groupIds when listing..
            allow read: if request.auth.token.adminGroups != null && request.auth.token.adminGroups.keys().hasAny(resource.data.livestream.groupIds) || isCFAdmin();
        }

        // Group Admin -> Aggregation Count query
        match /{somePath=**}/talentProfiles/{groupId} {
            allow read: if request.auth != null && request.auth.token.adminGroups.keys().hasAny([resource.data.groupId]) || isCFAdmin();
        }
        // Group Admin -> Company Followers Count query
        match /{somePath=**}/companiesUserFollows/{groupId} {
            allow read: if isAdminOfGroup(groupId);
        }

        // User -> Seen Sparks Count query
        match /{somePath=**}/seenSparks/{year} {
            // Should be isSignedInAndIsSameUser(userId) but we can't 
            // access the userId as we don't have proper auth in the server 
            // fix would be to use admin sdk on the server side
            allow read: if true;
        }
    }
}
