{
  "presets": ["next/babel"],
  "plugins": [
    [
      "import",
      {
        "libraryName": "@material-ui/core",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-core"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/core/colors",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-core-colors"
    ],
    [
      "import",
      {
        "libraryName": "@material-ui/icons",
        "libraryDirectory": "",
        "camel2DashComponentName": false
      },
      "mui-icons"
    ]
  ]
}
