html {
    font-size: 14px
}

.pdfContent {
    width: 100%;
}

.hidden {
    display: none;
}

#localVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#localVideo video {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
}

.videoContainer video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-height: 100%;
    max-width: 100%;
    z-index: 1;
}

a {
    text-decoration: none;
}