@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Bold.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Bold.woff") format("woff"),
      url("/fonts/subset-Poppins-Bold.ttf") format("truetype");
   font-weight: bold;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-BoldItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-BoldItalic.woff") format("woff"),
      url("/fonts/subset-Poppins-BoldItalic.ttf") format("truetype");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Regular.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Regular.woff") format("woff"),
      url("/fonts/subset-Poppins-Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Italic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Italic.woff") format("woff"),
      url("/fonts/subset-Poppins-Italic.ttf") format("truetype");
   font-weight: normal;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-Medium.woff2") format("woff2"),
      url("/fonts/subset-Poppins-Medium.woff") format("woff"),
      url("/fonts/subset-Poppins-Medium.ttf") format("truetype");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Poppins";
   src: url("/fonts/subset-Poppins-MediumItalic.woff2") format("woff2"),
      url("/fonts/subset-Poppins-MediumItalic.woff") format("woff");
   font-weight: 500;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Permanent Marker";
   src: url("/fonts/subset-PermanentMarker-Regular.woff2") format("woff2"),
      url("/fonts/subset-PermanentMarker-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

a {
   text-decoration: none;
}

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   max-width: 100vw;
   overflow-x: hidden;
}

body {
   color: rgb(var(--foreground-rgb));
   background: linear-gradient(
         to bottom,
         transparent,
         rgb(var(--background-end-rgb))
      )
      rgb(var(--background-start-rgb));
}

a {
   color: inherit;
   text-decoration: none;
}

@media (prefers-color-scheme: dark) {
   html {
      color-scheme: dark;
   }
}
