name: "Build, Test and Deploy"
on: [push]

# Ensures that only one deploy task per branch will run at a time (cancels old commit runs)
concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
   # Check for duplicated jobs (sometimes when merging, there are duplicated runs for the same commit)
   should_skip:
      name: "Pre-Check"
      runs-on: ubuntu-latest
      outputs:
         should_skip: ${{ steps.skip_check.outputs.should_skip }}
      steps:
         - id: skip_check
           uses: fkirc/skip-duplicate-actions@v3.4.1
           with:
              skip_after_successful_duplicate: "false"
              paths_ignore: '["**/README.md"]'

   build:
      name: "Build, Test and Deploy"
      needs: should_skip
      if: ${{ needs.should_skip.outputs.should_skip != 'true' }}
      runs-on: ubuntu-latest
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
         GRAPHCMS_PROJECT_API: ${{ secrets.GRAPHCMS_PROJECT_API }}
         GRAPHCMS_PROD_AUTH_TOKEN: ${{ secrets.GRAPHCMS_PROD_AUTH_TOKEN }}
         GRAPHCMS_DEV_AUTH_TOKEN: ${{ secrets.GRAPHCMS_DEV_AUTH_TOKEN }}
         GRAPHCMS_PREVIEW_SECRET: ${{ secrets.GRAPHCMS_PREVIEW_SECRET }}
      steps:
         - uses: actions/checkout@v2

         - uses: actions/setup-node@v2
           with:
              node-version: "16"
              cache: "npm"

         - name: Install dependencies
           run: npm install

         - name: Cache NextJS cache folder
           uses: actions/cache@v3
           with:
              path: |
                 ~/.npm
                  ${{ github.workspace }}/apps/web/.next/cache
              key: ${{ runner.os }}-nextjs-${{ hashFiles('package-lock.json') }}-${{ hashFiles('packages/shared-lib/**/*.[jt]s', 'apps/web/**/*.[jt]s?') }}
              restore-keys: |
                 ${{ runner.os }}-nextjs-${{ hashFiles('package-lock.json') }}-

         - name: Build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
           run: npm run build

         - name: Run Jest Unit Tests
           run: npm run test

         - name: Install Playwright deps
           run: npx playwright install --with-deps
         - name: Run Playwright End to End tests
           run: npm run test:e2e-webapp
         - name: Upload test results
           if: always()
           uses: actions/upload-artifact@v3
           with:
              name: playwright-report
              path: apps/web/playwright-report
         - name: Upload debug logs
           if: always()
           uses: actions/upload-artifact@v3
           with:
              name: debug logs
              path: firebase-debug.log
         - name: Deploy to Vercel
           uses: amondnet/vercel-action@v20.0.1 #deploy
           with:
              vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
              github-token: ${{ secrets.GITHUB_TOKEN }} #Optional
              vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
              vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
              vercel-args: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && '--prod' || '' }}
