name: "Build, Test and Deploy"
on: [pull_request, push]
jobs:
   build:
      name: "Build, Test and Deploy"
      runs-on: ubuntu-latest
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      steps:
         - uses: actions/checkout@v2

         - uses: actions/setup-node@v2
           with:
              node-version: "16"
              cache: "npm"

         - name: Install dependencies
           run: npm install

         - name: Cache NextJS cache folder
           uses: actions/cache@v3
           with:
              path: |
                 ${{ github.workspace }}/apps/web/.next/cache
              key: ${{ runner.os }}-nextjs-${{ hashFiles('package-lock.json') }}-${{ hashFiles('packages/shared-lib/**/*.[jt]s', 'apps/web/**/*.[jt]s?') }}
              restore-keys: |
                 ${{ runner.os }}-nextjs-${{ hashFiles('package-lock.json') }}-

         - name: Build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
           run: npm run build

         - name: Run Jest Unit Tests
           run: npm run test

         - name: Install Playwright deps
           run: npx playwright install --with-deps
         - name: Run Playwright End to End tests
           run: npm run test:e2e-webapp
         - name: Upload test results
           if: always()
           uses: actions/upload-artifact@v3
           with:
              name: playwright-report
              path: apps/web/playwright-report

         - name: Deploy to Vercel
           uses: amondnet/vercel-action@v20.0.1 #deploy
           with:
              vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
              github-token: ${{ secrets.GITHUB_TOKEN }} #Optional
              vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
              vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
              vercel-args: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && '--prod' || '' }}
