name: "Test Build and Deploy"
on: [pull_request, push]
jobs:
   build:
      name: "Build and Test Deploy"
      runs-on: ubuntu-latest
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
         PLAYWRIGHT_BROWSERS_PATH: 0
      steps:
         - uses: actions/checkout@v2

         - name: Cache playwright browsers and Firebase Runners
           uses: actions/cache@v3
           with:
              path: |
                 ~/.cache/ms-playwright
                 ~/.cache/firebase/emulators
              key: ${{ runner.os }}-playwright-firebase

         - uses: actions/setup-node@v2
           with:
              node-version: "16"
              cache: "npm"

         - name: Install dependencies
           run: npm install

         - name: Cache NextJS cache folder
           uses: actions/cache@v3
           with:
              path: |
                 ${{ github.workspace }}/apps/web/.next/cache
              # Generate a new cache whenever packages or source files change.
              key: ${{ runner.os }}-nextjs-${{ hashFiles('apps/web/package-lock.json') }}-${{ hashFiles('apps/web/**.[jt]s', 'apps/web/**.[jt]sx') }}
              # If source files changed but packages didn't, rebuild from a prior cache.
              restore-keys: |
                 ${{ runner.os }}-nextjs-${{ hashFiles(apps/web/package-lock.json') }}-

         - name: Build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
           run: npm run build

         - name: Run Jest Unit Tests
           run: npm run test

         - name: Install Playwright deps
           run: npx playwright install
         - name: Run Playwright End to End tests
           env:
              DEBUG: pw:webserver
           run: npm run test:e2e-webapp
         - name: Upload test results
           if: always()
           uses: actions/upload-artifact@v3
           with:
              name: playwright-report
              path: apps/web/playwright-report

         - name: Deploy to Vercel
           uses: amondnet/vercel-action@v20.0.1 #deploy
           with:
              vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
              github-token: ${{ secrets.GITHUB_TOKEN }} #Optional
              vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
              vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
