name: "Build, Test and Deploy"
on: [push]

# Ensures that only one deploy task per branch will run at a time (cancels old commit runs)
concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
   # Check for duplicated jobs (sometimes when merging, there are duplicated runs for the same commit)
   should_skip:
      name: "Pre-Check"
      runs-on: ubuntu-latest
      outputs:
         should_skip: ${{ steps.skip_check.outputs.should_skip }}
      steps:
         - id: skip_check
           uses: fkirc/skip-duplicate-actions@v3.4.1
           with:
              skip_after_successful_duplicate: "false"
              paths_ignore: '["**/README.md", "firestore.rules"]'

   build_app_for_tests:
      name: "Pre-build cache for tests"
      runs-on: ubuntu-latest
      needs: [should_skip]
      if: ${{ needs.should_skip.outputs.should_skip != 'true' }}
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      steps:
         - uses: actions/checkout@v2
         - name: Setup Node.js
           uses: actions/setup-node@v2
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v2
           with:
              # caching node_modules
              path: ~/.npm
              key: npm-${{ hashFiles('package-lock.json') }}
              restore-keys: npm-
         - name: Install Dependencies
           run: npm ci --ignore-scripts

         - name: Build
           run: npm run build
         - name: Run Jest Unit Tests
           run: npm run test

         - name: Build
           run: npm run build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              NODE_ENV: test

   # Run Unit Tests
   unit_tests:
      name: "Unit Tests"
      needs: [should_skip, build_app_for_tests]
      if: ${{ needs.should_skip.outputs.should_skip != 'true' }}
      runs-on: ubuntu-latest
      env:
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
         SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
         NODE_ENV: test
      steps:
         - uses: actions/checkout@v2
         - name: Setup Node.js
           uses: actions/setup-node@v2
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v2
           with:
              # caching node_modules
              path: ~/.npm
              key: npm-${{ hashFiles('package-lock.json') }}
              restore-keys: npm-
         - name: Install Dependencies
           run: npm ci --ignore-scripts

         - name: Build
           run: npm run build
         - name: Run Jest Unit Tests
           run: npm run test

   # Run E2E Tests
   e2e_tests:
      name: E2E Tests - ${{ matrix.shard }}/${{ matrix.total }}
      strategy:
         fail-fast: false
         matrix:
            shard: [1, 2, 3]
            total: [3]
      # Another way to split the runners by browser and custom shards by browser
      #            browser: [chromium, firefox, webkit]
      #            shards: [1]
      #            total: [1]
      #            include:
      #               # Since chrome runs the streaming tests, we should parallelize them in the future
      #               - browser: chromium
      #                 shards: 2
      #                 total: 2
      needs: [should_skip, build_app_for_tests]
      if: ${{ needs.should_skip.outputs.should_skip != 'true' }}
      runs-on: ubuntu-latest
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      steps:
         - uses: actions/checkout@v2
         - name: Setup Node.js
           uses: actions/setup-node@v2
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v2
           with:
              # caching node_modules
              path: ~/.npm
              key: npm-${{ hashFiles('package-lock.json') }}
              restore-keys: npm-
         - name: Install Dependencies
           run: npm ci --ignore-scripts

         - name: Build
           run: npm run build
         - name: Run Jest Unit Tests
           run: npm run test

         - name: Install Playwright deps
           run: npx playwright install --with-deps
         - name: Run Playwright End to End tests
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              NODE_ENV: test
           run: npm run test:e2e-webapp -- -- -- --shard=${{matrix.shard}}/${{ matrix.total }}
         - name: Upload test results
           if: ${{ failure() }}
           uses: actions/upload-artifact@v3
           with:
              name: ${{ matrix.shard }}-playwright-report
              path: apps/web/playwright-report
         - name: Upload debug logs
           if: ${{ failure() }}
           uses: actions/upload-artifact@v3
           with:
              name: ${{ matrix.shard }}-debug-logs
              path: firebase-debug.log
   # Deploy
   deploy:
      name: "Deploy"
      if: ${{ needs.should_skip.outputs.should_skip != 'true' }}
      needs: [e2e_tests, unit_tests]
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2
         - uses: amondnet/vercel-action@v25.1.0 #deploy
           id: vercel-action
           with:
              vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
              github-token: ${{ secrets.GITHUB_TOKEN }} #Optional
              vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
              vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
              vercel-args: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && '--prod' || '' }}
         - name: preview-url
           run: |
              echo ${{ steps.vercel-action.outputs.preview-url }}
