name: "Deploy"

on:
  push:
    branches: [main, develop, feature/**]
  pull_request:
    branches: [main, develop, feature/**]
jobs:
  build:
    name: "Build and start App"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: "14.x"
      - name: Install dependencies
        run: npm ci
      - name: Build App
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
        run: npm run build:app
      - name: Build Functions
        run: npm run build:functions

  test:
    name: "Run e2e and units tests"
    needs: build
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:

      - name: Install Playwright
        run: npx playwright install --with-deps
      - name: Run Jest Unit Tests
        run: npm run test:units
      - name: Run Playwright End to End tests
        uses: w9jds/firebase-action@master
        env:
          FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN}}
        run: npm run test:e2e

  deploy:
    needs: test
    runs-on: ubuntu-latest
    name: "Deploy to vercel"
    steps:
      - name: "Deploy to Vercel"
        run: |
          prodRun=""
          if [[ ${GITHUB_REF} == "refs/heads/main" ]]; then
            prodRun="--prod"
          fi

          npx vercel --token ${VERCEL_TOKEN} $prodRun
        env:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
