name: "Test and Deploy"

on:
   push:
jobs:
   build:
      name: "Build and Test App"
      runs-on: ubuntu-latest
      steps:
         - uses: actions/checkout@v2
         - uses: actions/setup-node@v2
           with:
              node-version: "14.x"
         - name: Install dependencies
           run: npm install
         - name: Build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
           run: npm run build
         - name: Run Jest Unit Tests
           run: npm run test
         - name: Install Playwright
           run: npx playwright install --with-deps
         - name: Run Playwright End to End tests
           env:
              FIREBASE_TOKEN: ${{ secrets.FIREBASE_TOKEN}}
           run: npm run test:e2e

   deploy:
      needs: build
      runs-on: ubuntu-latest
      if: "!contains(github.event.head_commit.message, '[skip ci]')"
      steps:
         - name: Checkout
           uses: actions/checkout@v2
         - name: Deploy to Vercel Action
           uses: BetaHuhn/deploy-to-vercel-action@v1
           with:
              VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
              VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
              VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
