name: "Build, Test and Deploy - Develop"
on:
   # Trigger on pushes targeting all branches but main
   push:
      branches-ignore:
         - main

# Ensures that only one deploy task per branch will run at a time (cancels old commit runs)
concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
   build_app_for_tests:
      name: "Pre-build cache for tests"
      runs-on: ubuntu-latest
      timeout-minutes: 10
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      outputs:
         webapp: ${{ steps.changes.outputs.webapp }}
         shared-lib: ${{ steps.changes.outputs.shared-lib }}
         workflow: ${{ steps.changes.outputs.workflow }}
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v3
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts

         - name: Build
           run: npm run build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              NODE_ENV: test

         # Check which folders have changed
         # So that we can skip future jobs
         - uses: dorny/paths-filter@v2
           id: changes
           with:
              filters: |
                 workflow:
                  - '.github/workflows/webapp-ci-full-develop.yml'
                 webapp:
                   - 'apps/web/**'
                   - 'packages/shared-lib/**'
                   - 'packages/seed-data/**'
                 shared-lib:
                   - 'packages/shared-lib/**'

   # Run Unit Tests
   unit_tests:
      name: "Unit Tests"
      needs: [build_app_for_tests]
      # only run if there are changes on the webapp & shared lib
      if: |
         needs.build_app_for_tests.outputs.webapp == 'true' ||
         needs.build_app_for_tests.outputs.shared-lib == 'true' ||
         needs.build_app_for_tests.outputs.workflow == 'true'
      runs-on: ubuntu-latest
      timeout-minutes: 10
      env:
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
         SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
         NODE_ENV: test
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v3
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts

         - name: Build
           run: npm run build

         - name: Run Jest Unit Tests
           run: npm run test

   # Run E2E Tests
   e2e_tests:
      name: E2E Tests for Chromium
      needs: [build_app_for_tests]
      # only run if there are changes on the webapp & shared lib
      if: |
         needs.build_app_for_tests.outputs.webapp == 'true' ||
         needs.build_app_for_tests.outputs.shared-lib == 'true' ||
         needs.build_app_for_tests.outputs.workflow == 'true'
      runs-on: ubuntu-latest
      timeout-minutes: 25
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v3
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts
   # Deploy
   deploy:
      name: "Deploy"
      needs: [e2e_tests, unit_tests]
      runs-on: ubuntu-latest
      timeout-minutes: 20
      steps:
         - uses: actions/checkout@v3
         - uses: amondnet/vercel-action@v25.1.0 #deploy
           id: vercel-action
           with:
              vercel-token: ${{ secrets.VERCEL_TOKEN }} # Required
              github-token: ${{ secrets.GITHUB_TOKEN }} #Optional
              vercel-org-id: ${{ secrets.VERCEL_ORG_ID}} #Required
              vercel-project-id: ${{ secrets.VERCEL_PROJECT_ID}} #Required
              vercel-args: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && '--prod' || '' }}
         - name: preview-url
           run: |
              echo ${{ steps.vercel-action.outputs.preview-url }}
