name: "Build, Test and Deploy"
on:
   # Triggers on pushes targeting these branches
   push:
      branches:
         - main
         - develop
         # we almost never use the staging env, no need to waste
         # minutes by deploying there every time if we don't use it

   # Triggers on opened/reopened PRs
   pull_request:

   # Allow manually trigger the CI in github
   workflow_dispatch:

env:
   # https://turborepo.org/docs/guides/continuous-integration
   TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
   TURBO_TEAM: ${{ secrets.TURBO_TEAM }}

# Ensures that only one deploy task per branch will run at a time (cancels old commit runs)
concurrency:
   group: ${{ github.head_ref || github.ref_name }}
   cancel-in-progress: true

jobs:
   build_app_for_tests:
      name: "Pre-build cache for tests"
      runs-on: ubuntu-latest
      timeout-minutes: 10
      outputs:
         webapp: ${{ steps.changes.outputs.webapp }}
         shared-lib: ${{ steps.changes.outputs.shared-lib }}
         streaming: ${{ steps.changes.outputs.streaming }}
         workflow: ${{ steps.changes.outputs.workflow }}
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: "18"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v3
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts

         - name: Cache .next/cache folder
           uses: actions/cache@v3
           with:
              path: ${{ github.workspace }}/apps/web/.next/cache
              key: ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
              # If source files changed but packages didn't, rebuild from a prior cache.
              restore-keys: |
                 ${{ runner.os }}-nextjs-${{ hashFiles('**/package-lock.json') }}-

         - name: Build
           run: npm run build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              NODE_ENV: test
              FIREBASE_PRIVATE_PROD_API_KEY: ${{ secrets.FIREBASE_PRIVATE_PROD_API_KEY }}
              FIREBASE_PRIVATE_PROD_AUTH_DOMAIN: ${{ secrets.FIREBASE_PRIVATE_PROD_AUTH_DOMAIN }}
              FIREBASE_PRIVATE_PROD_DATABASE_URL: ${{ secrets.FIREBASE_PRIVATE_PROD_DATABASE_URL }}
              FIREBASE_PRIVATE_PROD_PROJECT_ID: ${{ secrets.FIREBASE_PRIVATE_PROD_PROJECT_ID }}
              FIREBASE_PRIVATE_PROD_STORAGE_BUCKET: ${{ secrets.FIREBASE_PRIVATE_PROD_STORAGE_BUCKET }}
              FIREBASE_PRIVATE_PROD_MESSAGING_SENDER_ID: ${{ secrets.FIREBASE_PRIVATE_PROD_MESSAGING_SENDER_ID }}
              POSTMARK_PRIVATE_PROD_SERVER_TOKEN: ${{ secrets.POSTMARK_PRIVATE_PROD_SERVER_TOKEN }}
              POSTMARK_PRIVATE_DEV_SERVER_TOKEN: ${{ secrets.POSTMARK_PRIVATE_DEV_SERVER_TOKEN }}
              AGORA_PRIVATE_PROD_APP_ID: ${{ secrets.AGORA_PRIVATE_PROD_APP_ID }}
              AGORA_PRIVATE_DEV_APP_CERTIFICATE: ${{ secrets.AGORA_PRIVATE_DEV_APP_CERTIFICATE }}
              AGORA_PRIVATE_DEV_CUSTOMER_KEY: ${{ secrets.AGORA_PRIVATE_DEV_CUSTOMER_KEY }}
              AGORA_PRIVATE_DEV_CUSTOMER_SECRET: ${{ secrets.AGORA_PRIVATE_DEV_CUSTOMER_SECRET }}
              AWS_PRIVATE_PROD_SECRET_KEY: ${{ secrets.AWS_PRIVATE_PROD_SECRET_KEY }}
              AWS_PRIVATE_PROD_ACCESS_KEY: ${{ secrets.AWS_PRIVATE_PROD_ACCESS_KEY }}
              NEXT_PUBLIC_ALGOLIA_APP_ID: ${{ secrets.NEXT_PUBLIC_ALGOLIA_APP_ID }}
              NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY: ${{ secrets.NEXT_PUBLIC_ALGOLIA_SEARCH_API_KEY }}
              NEXT_PUBLIC_FIREBASE_EMULATORS: ${{ secrets.NEXT_PUBLIC_FIREBASE_EMULATORS }}
              ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_APP_ID }}
              ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
              ALGOLIA_INDEX_NAME: ${{ secrets.ALGOLIA_INDEX_NAME }}
              ALGOLIA_STREAM_INDEX_NAME: ${{ secrets.ALGOLIA_STREAM_INDEX_NAME }}
              POSTMARK_TEMPLATE_EMAIL_VERIFICATION: ${{ secrets.POSTMARK_TEMPLATE_EMAIL_VERIFICATION }}
              POSTMARK_TEMPLATE_PASSWORD_RESET: ${{ secrets.POSTMARK_TEMPLATE_PASSWORD_RESET }}
              POSTMARK_TEMPLATE_F2F_EVENT_REGISTRATION: ${{ secrets.POSTMARK_TEMPLATE_F2F_EVENT_REGISTRATION }}
              POSTMARK_TEMPLATE_BASIC_MARKETING_SINGLE_EVENT_NO_VIDEO: ${{ secrets.POSTMARK_TEMPLATE_BASIC_MARKETING_SINGLE_EVENT_NO_VIDEO }}
              POSTMARK_TEMPLATE_DRAFT_STREAM_APPROVAL_REQUEST: ${{ secrets.POSTMARK_TEMPLATE_DRAFT_STREAM_APPROVAL_REQUEST }}
              POSTMARK_TEMPLATE_NEWLY_PUBLISHED_EVENT: ${{ secrets.POSTMARK_TEMPLATE_NEWLY_PUBLISHED_EVENT }}
              POSTMARK_TEMPLATE_GROUP_ADMIN_INVITATION: ${{ secrets.POSTMARK_TEMPLATE_GROUP_ADMIN_INVITATION }}
              POSTMARK_TEMPLATE_LIVESTREAM_REGISTRATION_CONFIRMATION: ${{ secrets.POSTMARK_TEMPLATE_LIVESTREAM_REGISTRATION_CONFIRMATION }}
              POSTMARK_TEMPLATE_HYBRID_EVENT_REGISTRATION_CONFIRMATION: ${{ secrets.POSTMARK_TEMPLATE_HYBRID_EVENT_REGISTRATION_CONFIRMATION }}
              POSTMARK_TEMPLATE_GARTNER: ${{ secrets.POSTMARK_TEMPLATE_GARTNER }}
              POSTMARK_TEMPLATE_REMINDER_JOB_POSTING_APPLICATION: ${{ secrets.POSTMARK_TEMPLATE_REMINDER_JOB_POSTING_APPLICATION }}
              POSTMARK_TEMPLATE_WELCOME_EMAIL: ${{ secrets.POSTMARK_TEMPLATE_WELCOME_EMAIL }}
              POSTMARK_TEMPLATE_NEWSLETTER: ${{ secrets.POSTMARK_TEMPLATE_NEWSLETTER }}
              POSTMARK_BROADCAST_STREAM: ${{ secrets.POSTMARK_BROADCAST_STREAM }}
              CRISP_SECRET_KEY: ${{ secrets.CRISP_SECRET_KEY }}
              BIGQUERY_TABLE_PREFIX: ${{ secrets.BIGQUERY_TABLE_PREFIX }}
              NEXT_PUBLIC_SENTRY_DSN: ${{ secrets.NEXT_PUBLIC_SENTRY_DSN }}
              SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
              WEBFLOW_URL: ${{ secrets.WEBFLOW_URL }}
         # Check which folders have changed
         # So that we can skip future jobs
         - uses: dorny/paths-filter@v2
           id: changes
           with:
              base: main
              filters: |
                 workflow:
                  - '.github/workflows/webapp-ci-full-main.yml'
                 webapp:
                   - 'apps/web/**'
                   - 'packages/shared-lib/**'
                   - 'packages/seed-data/**'
                 shared-lib:
                   - 'packages/shared-lib/**'
                 streaming: 
                   - 'apps/streaming/**'
                   - 'packages/shared-lib/**'
                   - 'packages/shared-ui/**'

   # Run Unit Tests
   unit_tests:
      name: "Unit Tests"
      needs: [build_app_for_tests]
      # only run if there are changes on the webapp & shared lib
      if: |
         needs.build_app_for_tests.outputs.webapp == 'true' ||
         needs.build_app_for_tests.outputs.shared-lib == 'true' ||
         needs.build_app_for_tests.outputs.workflow == 'true' ||
         needs.build_app_for_tests.outputs.streaming == 'true'
      runs-on: ubuntu-latest
      timeout-minutes: 10
      env:
         SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
         NODE_ENV: test
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: "18"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v3
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts

         - name: Run Jest Unit Tests
           run: npm run test

   # Run E2E Tests
   e2e_tests:
      name: E2E Tests - ${{ matrix.shard }}/${{ matrix.total }}
      needs: [build_app_for_tests]
      # only run if there are changes on the webapp & shared lib
      if: |
         needs.build_app_for_tests.outputs.webapp == 'true' ||
         needs.build_app_for_tests.outputs.shared-lib == 'true' ||
         needs.build_app_for_tests.outputs.workflow == 'true'
      strategy:
         fail-fast: false
         matrix:
            shard: [1, 2, 3, 4, 5]
            total: [5]
      runs-on: ubuntu-22.04
      timeout-minutes: 25
      steps:
         - uses: actions/checkout@v3
         - uses: actions/setup-node@v3
           with:
              node-version: "18"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v3
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts

         - name: Install Playwright's dependencies
           run: npx playwright install --with-deps

         - name: Run Playwright End to End tests
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              NODE_ENV: test
           run: npm run test:e2e-webapp -- -- --shard=${{matrix.shard}}/${{ matrix.total }}

         - name: Upload test results
           if: ${{ failure() }}
           uses: actions/upload-artifact@v3
           with:
              name: ${{ matrix.shard }}-playwright-report
              path: apps/web/playwright-report
              retention-days: 30

         - name: Upload debug logs
           if: ${{ failure() }}
           uses: actions/upload-artifact@v3
           with:
              name: ${{ matrix.shard }}-debug-logs
              path: firebase-debug.log
              retention-days: 30

   # Deploy
   deploy:
      name: "Deploy"
      needs: [e2e_tests, unit_tests]
      runs-on: ubuntu-latest
      timeout-minutes: 20
      steps:
         - uses: actions/checkout@v3
         - name: Deploy to Vercel
           uses: BetaHuhn/deploy-to-vercel-action@v1
           id: vercel-deploy
           with:
              VERCEL_SCOPE: careerfairy-ssr
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
              VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
              VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
              PRODUCTION: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'true' || 'false' }}
              PR_LABELS: false
              ALIAS_DOMAINS: ${{ ( github.event_name == 'push' && github.ref == 'refs/heads/develop' && 'staging.careerfairy.io' ) || '' }}
              DELETE_EXISTING_COMMENT: false
         - name: preview-url
           run: |
              echo ${{ steps.vercel-deploy.outputs.PREVIEW_URL }}
   deploy_streaming:
      name: "Deploy Streaming"
      needs: [unit_tests]
      if: needs.build_app_for_tests.outputs.streaming == 'true'
      runs-on: ubuntu-latest
      timeout-minutes: 20
      steps:
         - uses: actions/checkout@v3
         - name: Deploy to Vercel
           uses: BetaHuhn/deploy-to-vercel-action@v1
           id: vercel-deploy
           with:
              VERCEL_SCOPE: careerfairy-ssr
              GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
              VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
              VERCEL_PROJECT_ID: ${{ secrets.VERCEL_STREAMING_PROJECT_ID }} # replace with the project ID of the streaming app
              PRODUCTION: ${{ github.event_name == 'push' && github.ref == 'refs/heads/main' && 'true' || 'false' }}
              PR_LABELS: false
              DELETE_EXISTING_COMMENT: false
         - name: preview-url
           run: |
              echo ${{ steps.vercel-deploy.outputs.PREVIEW_URL }}
