name: "Only Build"
on:
   push:
      branches-ignore:
         - develop
         - main
   pull_request:
      branches-ignore:
         - main
         - develop

# Ensures that only one deploy task per branch will run at a time (cancels old commit runs)
concurrency:
   group: ${{ github.workflow }}-${{ github.ref }}
   cancel-in-progress: true

jobs:
   build:
      name: "Only Build"
      runs-on: ubuntu-latest
      timeout-minutes: 10
      env:
         # https://turborepo.org/docs/guides/continuous-integration
         TURBO_TOKEN: ${{ secrets.TURBO_TOKEN }}
         TURBO_TEAM: ${{ secrets.TURBO_TEAM }}
      steps:
         - uses: actions/checkout@v2
         - uses: actions/setup-node@v2
           with:
              node-version: "16"
         - name: Cache node modules
           id: cache-nodemodules
           uses: actions/cache@v2
           with:
              path: "**/node_modules"
              key: ${{ runner.os }}-modules-${{ hashFiles('**/package-lock.json') }}
         - name: Install Dependencies
           if: steps.cache-nodemodules.outputs.cache-hit != 'true'
           run: npm ci --ignore-scripts

         - name: Build
           run: npm run build
           env:
              SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
              NODE_ENV: test
